@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-image: url('img/bg0.gif');
    background-size:cover;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

a, a:hover{
    color: inherit;
    text-decoration: inherit;
}

.left, .right{
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.6); /* transparent */
}

.row{
    height: 100vh;
}

.left li {
    padding: 2vh;
}

.left ul{
    list-style: none;
    font-size:15px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;

    padding: 0px;
    margin: 0px;
}

.nav-heading {
    text-align: center;
    margin: 4vh;
    font-size: 30px;
}

/* medium width */
@media only screen and (max-width: 1700px){
    .nav-heading {
        margin: 2vh;
        font-size: 20px;
    }

    .left ul{
        font-size: 10px;
    }
}

/* phone width */
@media only screen and (max-width: 768px){
    .left{
        height: auto;
        max-height: 25vh;
        margin-top: 0px !important; 
    }

    .left ul{
        flex-direction: row;
        font-size: 8px;
    }

    .nav-heading {
        margin: 1vh;
        font-size: 15x;
    }
}