.nav{
    background-color:blueviolet;
    height: 75vh;
}

.main{
    background-color: cadetblue;
    height: 75vh;
}

.row{
    height: 100vh;
}

@media only screen and (max-width: 768px){
    .nav{
        max-height: 15vh; 
    }
}